ul.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0
}

#profile .network-icon {
    margin-top: 30px
}

.network-icon li {
    margin-right: 10px
}

.network-icon li:last-of-type {
    margin-right: 0
}

.network-icon li:hover {
    transform: scale(1.2)
}

.middot-divider {
    padding-right: .45em;
    padding-left: .45em;
    font-size: 15px
}

.middot-divider::after {
    content: '\00B7'
}


.avatar-circle {
    border-radius: 50%
}
.avatar {
     width: 270px;
     height: 270px;
     margin: 0 auto;
     object-fit: cover
 }
.modal-body {
    position: relative;
    flex: auto;
    padding: 1rem
}